body {
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

#candy {
  color: #ea1c2c;
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .nav-link {
  color: white;
}

#headingGroup span {
  color: #ea1c2c;
}
#headingGroup h1 {
  font-weight: 100;
  font-size: 3rem;
}

@media (max-width: 1072px) {
  #headingGroup h1 {
    font-size: 2rem;
  }
}

h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb {
  color: #f498b8;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2;
}

img {
  border-radius: 20px;
  box-shadow: 0px px 0px 0px rgb(146, 141, 141);
}

img:hover {
  transform: scale(1.025);
  transition: 1s;
  box-shadow: 1px 5px 10px 2px rgb(202, 198, 198);
}
.divider {
  margin-top: 5%;
}

.scrolled {
  background-color: rgb(222, 192, 222);
  transition: background 500ms;
  /* transition: 1s; */
}

body {
  margin-bottom: 3%;
  margin-top: 5%;
}
